
@{
    ViewData["Title"] = "NotFound";
}

<section class="centered">
    <br />
    <p class="text-center text-danger">La caja ingresada no fue encontrada. Vuelva a intentarlo.</p>
    <br />
    <button onclick="location.href = 'index'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="display:block;margin:15% auto;">
        Reintentar
    </button>
</section>

